#:schema node_modules/wrangler/config-schema.json
name = "magic-ball-app"
main = ".open-next/worker.js"
compatibility_date = "2024-12-30"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "magic-ball-db"
database_id = "9346889d-f9db-4bee-8758-e0508b12ceb4"
